.home.group {
  position: relative;
  display: flex;
  flex-direction: column;
}
.home .decorator1 {
  position: absolute;
  bottom: -133px;
  left: -176px;
  width: 2011px;
  height: 271px;
}
.home .decorator {
  position: absolute;
  top: 1540px;
  left: -136px;
  width: 1871px;
  height: 131px;
}
.home .root {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 54px 0px;
  background-color: white;
  overflow: hidden;
}
.home .content_box8 {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 1606px;
}
.home .flex_col {
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px 0px;
  width: 1600px;
  height: 1606px;
}
.home .flex_col1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px 0px;
  width: 100%;
  background: var(--src) center center/100% 100% no-repeat;
  padding: 30px 215px 440px 215px;
}
.home .content_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0px 10px;
  width: 100%;
  background-color: white;
  border-radius: 16px 16px 16px 16px;
  padding: 5px 36px 5px 70px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.247);
}
.home .image8 {
  width: 96px;
  height: 80px;
}
.home .flex_row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0px 10px;
  width: 828px;
}
.home .subtitle {
  display: flex;
  justify-content: center;
  font: 700 23px/1.21 "Montserrat", Helvetica, Arial, serif;
  color: rgba(61, 60, 60, 0.886);
  text-align: center;
}
.home .image7 {
  width: 50px;
  height: 43px;
}
.home .hero_title {
  display: flex;
  justify-content: center;
  font: 700 46px/1.21 "Montserrat", Helvetica, Arial, serif;
  color: white;
  text-align: center;
  text-shadow: 0px 2px 4px black;
}
.home .cover1 {
  width: 100%;
}
.home .group1 {
  position: absolute;
  top: 444px;
  left: 9px;
  display: flex;
  flex-direction: column;
  width: 1339px;
  height: 1070px;
}
.home .decorator2 {
  position: absolute;
  top: 197px;
  left: -145px;
  width: 1871px;
  height: 131px;
}
.home .flex_col2 {
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  flex-direction: column;
  gap: 15px 0px;
  width: 1339px;
  height: 1070px;
}
.home .flex_row1 {
  display: flex;
  margin: 0px 7.47% 0px auto;
  width: 375px;
  background: var(--src) center center/100% 100% no-repeat;
  padding: 164px 52px 160px 52px;
}
.home .flex_col3 {
  display: flex;
  flex-direction: column;
  margin: 0px 0px 33px;
  width: 54px;
}
.home .image12 {
  width: 54px;
  height: 6px;
}
.home .image11 {
  margin: 0px 12px 0px 16px;
  width: 26px;
  height: 12px;
}
.home .content_box1 {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 1px 0px 0px;
  width: 59px;
  min-height: 50px;
}
.home .image9 {
  position: absolute;
  top: 15px;
  left: 8px;
  width: 20px;
  height: 20px;
}
.home .image10 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 59px;
  height: 50px;
}
.home .content_box4 {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 680px;
}
.home .flex_col4 {
  position: absolute;
  top: 0px;
  left: 306px;
  display: flex;
  flex-direction: column;
  width: 1033px;
  height: 466px;
}
.home .big_title {
  display: flex;
  justify-content: center;
  margin: 0px 0px 0px 35.24%;
  width: 242px;
  font: 700 37px/1.21 "Montserrat", Helvetica, Arial, serif;
  color: rgba(61, 60, 60, 0.886);
  text-align: center;
}
.home .flex_row2 {
  display: flex;
  gap: 0px 16px;
  margin: 38px 0px 0px;
}
.home .content_box2 {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 509px;
  min-height: 135px;
}
.home .medium_title1 {
  position: absolute;
  top: 23px;
  left: 0px;
  width: 509px;
  height: 64px;
  font: 600 26px/1.23 "Montserrat", Helvetica, Arial, serif;
  color: rgba(61, 60, 60, 0.886);
}
.home .image14 {
  position: absolute;
  top: 0px;
  left: 207px;
  width: 134px;
  height: 135px;
}
.home .image13 {
  margin: 8px 0px 33px;
  width: 94px;
  height: 94px;
  filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.247));
}
.home .flex_row3 {
  display: flex;
  gap: 0px 25px;
  margin: 0px auto;
  width: 689px;
}
.home .medium_title11 {
  margin: 25px 0px 13px;
  width: 528px;
  font: 600 26px/1.23 "Montserrat", Helvetica, Arial, serif;
  color: rgba(61, 60, 60, 0.886);
}
.home .image15 {
  width: 136px;
}
.home .content_box3 {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 35px 0px 0px auto;
  width: 721px;
  min-height: 111px;
}
.home .medium_title12 {
  position: absolute;
  top: 15px;
  left: 0px;
  width: 638px;
  height: 96px;
  font: 600 26px/1.23 "Montserrat", Helvetica, Arial, serif;
  color: rgba(61, 60, 60, 0.886);
}
.home .image16 {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 110px;
  height: 105px;
  filter: drop-shadow(4px 3px 4px rgba(0, 0, 0, 0.247));
}
.home .image18 {
  position: absolute;
  top: 228px;
  left: 0px;
  width: 543px;
  height: 452px;
}
.home .flex_col5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 61px 0px;
  margin: 0px 0px 171px;
  width: 69.75%;
}
.home .flex_col6 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 39px 0px;
  width: 100%;
}
.home .big_title1 {
  display: flex;
  justify-content: center;
  font: 700 37px/1.21 "Montserrat", Helvetica, Arial, serif;
  color: rgba(61, 60, 60, 0.886);
  text-align: center;
}
.home .flex_col7 {
  display: flex;
  flex-direction: column;
  gap: 10px 0px;
  width: 100%;
}
.home .flex_row4 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0px 10px;
}
.home .image5 {
  width: 340px;
}
.home .image6 {
  width: 321px;
}
.home .image {
  width: 323px;
}
.home .flex_row5 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0px 10px;
  margin: 0px 0px 0px 17.65%;
  width: 652px;
}
.home .image4 {
  width: 300px;
}
.home .image17 {
  width: 205px;
}
.home .content_box7 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 96.77%;
  background-color: whitesmoke;
  border-radius: 60px 60px 60px 60px;
  padding: 108px 72px 114px 61px;
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.247);
}
.home .flex_col8 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 13px 0px;
  margin: 64px 0px 0px;
  width: 99.47%;
}
.home .medium_title {
  width: 99.36%;
  font: 600 25px/1.2 "Montserrat", Helvetica, Arial, serif;
  color: rgba(61, 60, 60, 0.886);
}
.home .rect3 {
  width: 100%;
  min-height: 59px;
  background-color: white;
  border-radius: 14px 14px 14px 14px;
  outline: 2px solid #838282;
  outline-offset: -2px;
}
.home .flex_row6 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0px 10px;
  margin: 39px 0px 0px;
  width: 99.47%;
}
.home .flex_col9 {
  display: flex;
  flex-direction: column;
  width: 416px;
}
.home .flex_col10 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 13px 0px;
}
.home .medium_title2 {
  width: 98.56%;
  font: 600 25px/1.2 "Montserrat", Helvetica, Arial, serif;
  color: rgba(61, 60, 60, 0.886);
}
.home .rect1 {
  width: 100%;
  min-height: 59px;
  background-color: white;
  border-radius: 14px 14px 14px 14px;
  outline: 2px solid #838282;
  outline-offset: -2px;
}
.home .flex_col11 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 13px 0px;
  margin: 33px 0px 0px;
}
.home .flex_col12 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 13px 0px;
  margin: 35px 0px 0px;
}
.home .flex_col13 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px 0px;
}
.home .medium_title3 {
  width: 97.6%;
  font: 600 25px/1.2 "Montserrat", Helvetica, Arial, serif;
  color: rgba(61, 60, 60, 0.886);
}
.home .flex_col14 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 13px 0px;
  margin: 38px 0px 0px;
}
.home .medium_title4 {
  width: 97.6%;
  font: 600 25px/1.2 "Montserrat", Helvetica, Arial, serif;
  color: rgba(61, 60, 60, 0.886);
  letter-spacing: -0.2px;
}
.home .flex_col15 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 9px 0px;
  margin: 36px 0px 0px;
  width: 99.47%;
}
.home .medium_title5 {
  width: 100%;
  font: 600 25px/1.2 "Montserrat", Helvetica, Arial, serif;
  color: rgba(61, 60, 60, 0.886);
}
.home .flex_col16 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 17px 0px;
  margin: 72px 0px 0px;
  width: 100%;
}
.home .medium_title6 {
  width: 99.37%;
  font: 600 25px/1.2 "Montserrat", Helvetica, Arial, serif;
  color: rgba(61, 60, 60, 0.886);
}
.home .flex_row7 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0px 10px;
  width: 100%;
}
.home .content_box5 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0px 10px;
  width: 424px;
  background-color: white;
  border-radius: 14px 14px 14px 14px;
  padding: 32px 37px 33px 30px;
  outline: 2px solid #838282;
  outline-offset: -2px;
}
.home .title {
  font: 600 30px/1.23 "Montserrat", Helvetica, Arial, serif;
  color: rgba(61, 60, 60, 0.886);
}
.home .image2 {
  width: 119px;
  height: 119px;
}
.home .content_box6 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0px 10px;
  width: 421px;
  background-color: white;
  border-radius: 14px 14px 14px 14px;
  padding: 35px 0px 35px 38px;
  outline: 2px solid #1e950b;
  outline-offset: -2px;
}
.home .image1 {
  width: 206px;
}
.home .image3 {
  margin: 66px 0px 0px;
  width: 99.47%;
}
.home .big_title11 {
  margin: 74px 0px 0px;
  width: 81.31%;
  font: 600 35px/1.22 "Montserrat", Helvetica, Arial, serif;
  color: white;
  background-color: #64c055;
  border-radius: 13px 13px 13px 13px;
  padding: 12px 311px 13px 295px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.247);
  text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2470588235);
}