.predict.root {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: white;
  overflow: hidden;
}
.predict .decorator1 {
  position: absolute;
  bottom: -151px;
  left: -331px;
  width: 2011px;
  height: 271px;
}
.predict .content_box4 {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0px 0px 308px;
  min-height: 2408px;
}
.predict .decorator {
  position: absolute;
  top: 939px;
  left: -284px;
  width: 1871px;
  height: 131px;
}
.predict .flex_col {
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 144px 0px;
  width: 1521px;
  height: 2408px;
}
.predict .content_box2 {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 1096px;
}
.predict .cover {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1521px;
  height: 1013px;
}
.predict .flex_col1 {
  position: absolute;
  top: 30px;
  left: 176px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 168px 0px;
  width: 1170px;
  height: 1066px;
}
.predict .content_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0px 10px;
  width: 100%;
  background-color: white;
  border-radius: 16px 16px 16px 16px;
  padding: 5px 36px 5px 70px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.247);
}
.predict .image5 {
  width: 96px;
  height: 80px;
}
.predict .flex_row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0px 10px;
  width: 828px;
}
.predict .subtitle1 {
  display: flex;
  justify-content: center;
  font: 700 23px/1.21 "Montserrat", Helvetica, Arial, serif;
  color: rgba(61, 60, 60, 0.886);
  text-align: center;
}
.predict .image4 {
  width: 50px;
  height: 43px;
}
.predict .content_box1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 92.31%;
  background-color: whitesmoke;
  border-radius: 60px 60px 60px 60px;
  padding: 75px 99px 32px 89px;
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.247);
}
.predict .big_title {
  display: flex;
  justify-content: center;
  font: 700 37px/1.21 "Montserrat", Helvetica, Arial, serif;
  color: rgba(61, 60, 60, 0.886);
  text-align: center;
}
.predict .flex_row1 {
  display: flex;
  justify-content: space-between;
  gap: 0px 10px;
  margin: 61px 0px 0px;
  width: 92.15%;
}
.predict .title {
  margin: 29px 0px 61px;
  font: 600 30px/1.23 "Montserrat", Helvetica, Arial, serif;
  color: rgba(61, 60, 60, 0.886);
}
.predict .flex_col2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7px 0px;
  width: 356px;
}
.predict .box {
  display: flex;
  flex-direction: column;
  width: 91.29%;
  background-color: whitesmoke;
  border-radius: 48px 48px 48px 48px;
  outline: 3px solid #838282;
  outline-offset: -3px;
}
.predict .hero_title {
  display: flex;
  justify-content: center;
  margin: 20px 35px;
  width: 255px;
  height: 56px;
  font: 700 45px/1.24 "Red Rose", Helvetica, Arial, serif;
  color: black;
  text-align: center;
}
.predict .subtitle {
  display: flex;
  justify-content: center;
  font: 600 20px/1.2 "Montserrat", Helvetica, Arial, serif;
  color: #64c055;
  text-align: center;
}
.predict .image2 {
  margin: 38px 0px 0px;
  width: 98.21%;
}
.predict .content_box3 {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 71.2%;
  min-height: 1168px;
}
.predict .flex_col3 {
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  flex-direction: column;
  width: 1083px;
  height: 1168px;
}
.predict .big_title1 {
  display: flex;
  justify-content: center;
  margin: 0px 0px 0px 28.5px;
  width: 73.5%;
  font: 700 37px/1.21 "Montserrat", Helvetica, Arial, serif;
  color: rgba(61, 60, 60, 0.886);
  text-align: center;
  letter-spacing: -0.1px;
}
.predict .big_title2 {
  margin: 30px 6px 0px 26px;
  font: 600 35px/1.22 "Montserrat", Helvetica, Arial, serif;
  color: rgba(61, 60, 60, 0.886);
}
.predict .flex_row2 {
  display: flex;
  justify-content: space-between;
  gap: 0px 10px;
  margin: 751px 0px 0px;
}
.predict .big_title21 {
  margin: 9px 0px 4px;
  font: 600 35px/1.22 "Montserrat", Helvetica, Arial, serif;
  color: rgba(61, 60, 60, 0.886);
}
.predict .hero_title1 {
  font: 700 46px/1.21 "Montserrat", Helvetica, Arial, serif;
  color: black;
  letter-spacing: -0.4px;
}
.predict .flex_col4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 52px 0px;
  margin: 51px auto 0px;
  width: 71.1%;
}
.predict .big_title11 {
  width: 100%;
  font: 600 35px/1.22 "Montserrat", Helvetica, Arial, serif;
  color: white;
  background-color: #64c055;
  border-radius: 13px 13px 13px 13px;
  padding: 12px 261px 13px 260px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.247);
  text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2470588235);
}
.predict .medium_title {
  font: 500 24px/1.2 "Montserrat", Helvetica, Arial, serif;
  color: black;
}
.predict .image3 {
  position: absolute;
  top: 181px;
  left: 93px;
  width: 882px;
  height: 695px;
  filter: drop-shadow(-2px 2px 6px rgba(0, 0, 0, 0.2470588235));
}
.predict .image6 {
  position: absolute;
  top: 1096px;
  right: 42px;
  width: 444px;
  height: 496px;
}