.untitled-page__root {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: white;
  overflow: hidden;
}
.untitled-page__decorator1 {
  position: absolute;
  bottom: -133px;
  left: -176px;
  width: 2011px;
  height: 271px;
}
.untitled-page__group {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0px 0px 171px;
}
.untitled-page__decorator {
  position: absolute;
  top: 1540px;
  left: -136px;
  width: 1871px;
  height: 131px;
}
.untitled-page__flex_col {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px 0px;
}
.untitled-page__content_box4 {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 1606px;
}
.untitled-page__flex_col1 {
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px 0px;
  width: 1600px;
  height: 1606px;
}
.untitled-page__cover {
  width: 100%;
}
.untitled-page__group1 {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.untitled-page__decorator2 {
  position: absolute;
  top: -81px;
  left: -136px;
  width: 1871px;
  height: 131px;
}
.untitled-page__flex_col2 {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 44px 0px;
  background: var(--src) center center/100% 100% no-repeat;
  padding: 112px 225px 3px 9px;
}
.untitled-page__content_box1 {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 680px;
}
.untitled-page__flex_col3 {
  position: absolute;
  top: 0px;
  left: 306px;
  display: flex;
  flex-direction: column;
  width: 1060px;
  height: 466px;
}
.untitled-page__big_title {
  display: flex;
  justify-content: center;
  margin: 0px 0px 0px 34.34%;
  width: 242px;
  font: 700 37px/1.21 "Montserrat", Helvetica, Arial, serif;
  color: rgba(61, 60, 60, 0.886);
  text-align: center;
}
.untitled-page__flex_row {
  display: flex;
  gap: 0px 16px;
  margin: 38px 0px 0px;
}
.untitled-page__content_box {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 509px;
  min-height: 135px;
}
.untitled-page__medium_title1 {
  position: absolute;
  top: 23px;
  left: 0px;
  width: 509px;
  height: 64px;
  font: 600 26px/1.23 "Montserrat", Helvetica, Arial, serif;
  color: rgba(61, 60, 60, 0.886);
}
.untitled-page__image14 {
  position: absolute;
  top: 0px;
  left: 207px;
  width: 134px;
  height: 135px;
}
.untitled-page__image13 {
  margin: 8px 0px 33px;
  width: 94px;
  height: 94px;
  filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.247));
}
.untitled-page__flex_row1 {
  display: flex;
  gap: 0px 25px;
  margin: 0px auto;
  width: 689px;
}
.untitled-page__medium_title11 {
  margin: 25px 0px 13px;
  width: 528px;
  font: 600 26px/1.23 "Montserrat", Helvetica, Arial, serif;
  color: rgba(61, 60, 60, 0.886);
}
.untitled-page__image15 {
  width: 136px;
}
.untitled-page__flex_row2 {
  display: flex;
  margin: 35px 0px 0px auto;
  width: 70.57%;
}
.untitled-page__medium_title12 {
  margin: 15px 0px 0px;
  width: 638px;
  font: 600 26px/1.23 "Montserrat", Helvetica, Arial, serif;
  color: rgba(61, 60, 60, 0.886);
}
.untitled-page__image16 {
  margin: 0px 0px 6px;
  width: 110px;
  height: 105px;
  filter: drop-shadow(4px 3px 4px rgba(0, 0, 0, 0.247));
}
.untitled-page__image18 {
  position: absolute;
  top: 228px;
  left: 0px;
  width: 543px;
  height: 452px;
}
.untitled-page__big_title1 {
  display: flex;
  justify-content: center;
  margin: 0px 14.2% 0px auto;
  width: 763px;
  font: 700 37px/1.21 "Montserrat", Helvetica, Arial, serif;
  color: rgba(61, 60, 60, 0.886);
  text-align: center;
}
.untitled-page__flex_col4 {
  position: absolute;
  top: 30px;
  left: 215px;
  display: flex;
  flex-direction: column;
  gap: 168px 0px;
  width: 1170px;
  height: 789px;
}
.untitled-page__flex_col5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px 0px;
}
.untitled-page__wrapper2 {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: white;
  border-radius: 16px 16px 16px 16px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.247);
}
.untitled-page__flex_row3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0px 10px;
  margin: 5px auto;
  width: 90.94%;
}
.untitled-page__image8 {
  width: 96px;
  height: 80px;
}
.untitled-page__flex_row4 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0px 10px;
  width: 828px;
}
.untitled-page__wrapper3 {
  display: flex;
  align-items: center;
  gap: 0px 60px;
  width: 735px;
}
.untitled-page__subtitle {
  display: flex;
  justify-content: center;
  width: 129px;
  height: 28px;
  font: 700 23px/1.21 "Montserrat", Helvetica, Arial, serif;
  color: rgba(61, 60, 60, 0.886);
  text-align: center;
}
.untitled-page__subtitle1 {
  display: flex;
  justify-content: center;
  width: 304px;
  height: 28px;
  font: 700 23px/1.21 "Montserrat", Helvetica, Arial, serif;
  color: rgba(61, 60, 60, 0.886);
  text-align: center;
}
.untitled-page__subtitle2 {
  display: flex;
  justify-content: center;
  width: 182px;
  height: 28px;
  font: 700 23px/1.21 "Montserrat", Helvetica, Arial, serif;
  color: rgba(61, 60, 60, 0.886);
  text-align: center;
}
.untitled-page__image7 {
  width: 50px;
  height: 43px;
}
.untitled-page__hero_title {
  display: flex;
  justify-content: center;
  font: 700 46px/1.21 "Montserrat", Helvetica, Arial, serif;
  color: white;
  text-align: center;
  text-shadow: 0px 2px 4px black;
}
.untitled-page__group2 {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0px 11.71% 0px auto;
  width: 375px;
}
.untitled-page__image9 {
  position: absolute;
  top: 180px;
  left: 114px;
  width: 20px;
  height: 20px;
}
.untitled-page__flex_row5 {
  position: relative;
  display: flex;
  background: var(--src) center center/100% 100% no-repeat;
  padding: 164px 52px 160px 52px;
}
.untitled-page__flex_col6 {
  display: flex;
  flex-direction: column;
  margin: 0px 0px 33px;
  width: 54px;
}
.untitled-page__image12 {
  width: 54px;
  height: 6px;
}
.untitled-page__image11 {
  margin: 0px 12px 0px 16px;
  width: 26px;
  height: 12px;
}
.untitled-page__image10 {
  margin: 1px 0px 0px;
  width: 59px;
  height: 50px;
}
.untitled-page__flex_col7 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 61px 0px;
  width: 67.5%;
}
.untitled-page__flex_col8 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 76px 0px;
  width: 99.26%;
}
.untitled-page__flex_row6 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0px 10px;
  width: 100%;
}
.untitled-page__image5 {
  width: 340px;
}
.untitled-page__image6 {
  width: 321px;
}
.untitled-page__image {
  width: 347px;
}
.untitled-page__flex_row7 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0px 10px;
  width: 60.82%;
}
.untitled-page__image4 {
  width: 300px;
}
.untitled-page__image17 {
  width: 205px;
}
.untitled-page__content_box3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: whitesmoke;
  border-radius: 60px 60px 60px 60px;
  padding: 108px 72px 114px 61px;
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.247);
}
.untitled-page__big_title2 {
  display: flex;
  justify-content: center;
  font: 700 37px/1.21 "Montserrat", Helvetica, Arial, serif;
  color: rgba(61, 60, 60, 0.886);
  text-align: center;
}
.untitled-page__flex_col9 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 13px 0px;
  margin: 64px 0px 0px;
  width: 99.47%;
}
.untitled-page__medium_title {
  width: 99.36%;
  font: 600 25px/1.2 "Montserrat", Helvetica, Arial, serif;
  color: rgba(61, 60, 60, 0.886);
}
.untitled-page__rect3 {
  width: 100%;
  min-height: 59px;
  background-color: white;
  border-radius: 14px 14px 14px 14px;
  outline: 2px solid #838282;
  outline-offset: -2px;
}
.untitled-page__flex_row8 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0px 10px;
  margin: 39px 0px 0px;
  width: 99.47%;
}
.untitled-page__flex_col10 {
  display: flex;
  flex-direction: column;
  width: 416px;
}
.untitled-page__flex_col11 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 13px 0px;
}
.untitled-page__medium_title2 {
  width: 98.56%;
  font: 600 25px/1.2 "Montserrat", Helvetica, Arial, serif;
  color: rgba(61, 60, 60, 0.886);
}
.untitled-page__rect1 {
  width: 100%;
  min-height: 59px;
  background-color: white;
  border-radius: 14px 14px 14px 14px;
  outline: 2px solid #838282;
  outline-offset: -2px;
}
.untitled-page__flex_col12 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 13px 0px;
  margin: 33px 0px 0px;
}
.untitled-page__flex_col13 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 13px 0px;
  margin: 35px 0px 0px;
}
.untitled-page__flex_col14 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px 0px;
}
.untitled-page__medium_title3 {
  width: 97.6%;
  font: 600 25px/1.2 "Montserrat", Helvetica, Arial, serif;
  color: rgba(61, 60, 60, 0.886);
}
.untitled-page__flex_col15 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 13px 0px;
  margin: 38px 0px 0px;
}
.untitled-page__medium_title4 {
  width: 97.6%;
  font: 600 25px/1.2 "Montserrat", Helvetica, Arial, serif;
  color: rgba(61, 60, 60, 0.886);
  letter-spacing: -0.2px;
}
.untitled-page__flex_col16 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 9px 0px;
  margin: 36px 0px 0px;
  width: 99.47%;
}
.untitled-page__medium_title5 {
  width: 100%;
  font: 600 25px/1.2 "Montserrat", Helvetica, Arial, serif;
  color: rgba(61, 60, 60, 0.886);
}
.untitled-page__flex_col17 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 17px 0px;
  margin: 72px 0px 0px;
  width: 100%;
}
.untitled-page__medium_title6 {
  width: 99.37%;
  font: 600 25px/1.2 "Montserrat", Helvetica, Arial, serif;
  color: rgba(61, 60, 60, 0.886);
}
.untitled-page__wrapper {
  display: flex;
  flex-direction: column;
  width: 424px;
  background-color: white;
  border-radius: 14px 14px 14px 14px;
  outline: 2px solid #838282;
  outline-offset: -2px;
}
.untitled-page__flex_row9 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0px 10px;
  margin: 32px 30px 33px;
  padding: 0px 7px 0px 0px;
}
.untitled-page__title {
  font: 600 30px/1.23 "Montserrat", Helvetica, Arial, serif;
  color: rgba(61, 60, 60, 0.886);
}
.untitled-page__image2 {
  width: 119px;
  height: 119px;
}
.untitled-page__content_box2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0px 10px;
  width: 421px;
  background-color: white;
  border-radius: 14px 14px 14px 14px;
  padding: 35px 0px 35px 38px;
  outline: 2px solid #1e950b;
  outline-offset: -2px;
}
.untitled-page__image1 {
  width: 206px;
}
.untitled-page__image3 {
  margin: 66px 0px 0px;
  width: 99.47%;
}
.untitled-page__wrapper1 {
  display: flex;
  flex-direction: column;
  margin: 74px 0px 0px;
  width: 81.31%;
  background-color: #64c055;
  border-radius: 13px 13px 13px 13px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.247);
}
.untitled-page__big_title11 {
  margin: 12px 311px 13px 295px;
  width: 164px;
  height: 43px;
  font: 600 35px/1.22 "Montserrat", Helvetica, Arial, serif;
  color: white;
  text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2470588235);
}